.home-screen{
    padding :0 3px;

}
.home-screen-header{
    margin-top: 64px;
    display : flex;
    justify-content: space-between;
    align-items: center;
}
/* HomeScreen Title : Hello Jay! (h1) and What are you having today (p) and the avatar*/
.home-screen-header h1{
    font-family:"Poppins", sans-serif;
    font-size : 24px;
    font-weight: 600;
    line-height: 1.2;
    margin:0 ;
}
.home-screen-header p{
    font-family:"Poppins", sans-serif;
    font-size : 12px;
    color: #A9A9A9;
    margin:4px 0 0 ;
}
.home-screen-avatar{
    width: 40px;
    height: 40px;
    border-radius:10px;
    object-fit: cover;
}
/* Search : search bar, input, button */
.home-screen-search{
    display:flex;
    align-items: center;
    margin-top:30px;
}
.home-screen-search input{
    width : 255px;
    height: 40px;
    padding : 0 12px;
    border: 1px solid #DDD;
    border-radius: 10px;
    font-family: 12px;
    color: #333;
    outline: none;
}
/* Mic Button */
.home-screen-search button{
    width : 40px;
    height: 40px;
    margin-left: 20px;
    background-color: #129575;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    cursor:pointer;
}
/* Category - Nav Bar */
.home-screen-tabs{
    display:flex;
    align-items: center;
    margin-top: 15px;
    height: 51px;
}
/* Inactive individual tab. */
.home-screen-tab{
    background: transparent;
    border:none;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    color:#129575;
    cursor:pointer;
    margin-right: 24px;
}
.home-screen-tab--active{
    background-color: #129575;
    border-radius: 10px;
    color:#FFFFFF;
    padding: 12px 16px;
}
/* Large grid for MealCards */
.home-screen-grid{
    display: grid;
    grid-template-columns: repeat(2,150px);
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 10px;
    justify-content: center;
}