/* Search-screen header+back arrow */
.search-screen{
    padding : 30px;
}
.search-screen-header{
    display : flex;
    align-items : center;
}
.search-back-button{
    background : none;
    border : none;
    font-size : 24px;
    cursor : pointer;
    margin-right : 16px;
}
.search-screen-header h1{
    font-size : 24px;
    margin : 0;
}
/* SEARCH BAR for SEARCH SCREEN HEADER. */
.search-screen-search{
    display : flex;
    margin : 24px 0;
}
.search-screen-search input{
    flex : 1;
    height : 40px;
    padding : 0 12px;
    border : 1px solid #ccc;
    border-radius: 10px;
}
.search-screen-search button {
    margin-left : 8px;
    width: 40px;
    background : #129575;
    color : #fff;
    border : none;
    border-radius: 10px;
    cursor : pointer;
}
/* SEARCH Screen Results number and meal-cards.. */
.search-screen-results{
    font-weight: 600;
    margin-bottom : 16px;
}
.search-screen-grid{
    display : grid;
    grid-template-columns : repeat(auto-fit, minmax(240px,1fr))
}